{% extends "_base.html" %}

{% block title %}{{ name }} | {{ contacts_header | title }}{% endblock %}

{% block body %}
  <h1>{{ contacts_header | title }}</h1>
  {{ contacts_description | safe}} <br>
  {% for contact in contacts %}
    {{ contact.name }} |
    {% if "url" in contact %}
      <a href="{{ contact.url }}">
        {% if "display" in contact %}
          {{ contact.display }}
        {% else %}
          {{ contact.url }}
        {% endif %}
      </a>
    {% elif "display" in contact %}
      {{ contact.display }}
    {% endif %}
    <br>
  {% endfor %}
{% endblock %}
