{% extends "_base.html" %}

{% block title %}{{ name }} | {{ projects_header | title }}{% endblock %}
{% block add_head %}
  <link rel="stylesheet" type="text/css" href="projects.css">
{% endblock %}

{% block body %}
  <div class="markdown-body">
    <h1>{{ projects_header | title }}</h1>
  </div>
  <section class="cards">
    {% for proj_name, proj_dict in projects.items %}
      <a class="card" href="{{ proj_name }}/index.html">
      <div>
        {% if proj_dict.gallery_images %}
          <img src="{{ proj_name }}/{{ proj_dict.gallery_images.0 }}">
        {% endif %}
        <div class="card_content">
          <h4>{{ proj_dict.name }}</h4>
          {{ proj_dict.shortdesc }}
        </div>
      </div>
      </a>
    {% endfor %}
  </section>
{% endblock %}